<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="shortcut icon" href="icono.png">
		<title>Administration panel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendorAdm.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <script src="{{ url_for('static', filename='js/iscroll.js') }}"></script>
    </head>
    <body>
        <div class="main-wrapper">
            <div class="app header-fixed sidebar-fixed" id="app">
                <header class="header">
                    <div class="header-block header-block-collapse hidden-lg-up">
                    	<button class="collapse-btn" id="sidebar-collapse-btn"><i class="fa fa-bars"></i></button>
                    </div>
                    <div class="header-block header-block-search hidden-sm-down">
                        Administration panel
                    </div>
                    <div class="header-block header-block-nav">
                        <ul class="nav-profile">
                            <li class="notifications"><a href="{{ url_for('home') }}" title="Return to Customer Panel"><span class="fa fa-sign-out"></span>Inicio</a></li>
                    		<li class="notifications"><a href="{{ url_for('logout') }}" title="Return to Customer Panel"><span class="fa fa-sign-out"></span>Salir</a></li>
                        </ul>
                    </div>
                </header>
                <aside class="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                            <div class="brand" style="background:#FFF"><div class="logo"><img src="static/images/logo.png"  style="position:relative; margin-left: -15px; max-width: 65px;"></div></div>
                        </div>
                        <nav class="menu">
                            <ul class="nav metismenu" id="sidebar-menu">
                                <li class="open active">
                              		<a href="{{ url_for('inventory') }}"><i class="fa fa-folder-open-o"></i> Inventory</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('costs') }}"><i class="fa fa-clock-o"></i> Costs</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <!-- Inicia los templates -->
                {% block content %}
                {% endblock %}
                <!-- fin templates -->
                <footer class="footer">
                    <div class="footer-block author">
                        <ul>
                            <li>All rights reserved</li>
                        </ul>
                    </div>
                </footer>
                <div class="modal fade" id="modalGeneral">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Add</h4>
                         	</div>
                            <div class="modal-body modal-tab-container">
                                <div class="tab-content modal-tab-content">
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/vendorAdm.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    	<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>