{% extends 'admin.html' %}
{% block content %}
<article class="content dashboard-page">
    <section class="section">
       <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block" style="width:100%">
                            <h3 class="title">Inventory list</h3>
                            <a href="{{ url_for('addinventory') }}" class="pull-right btn btn-primary btn-sm rounded"data-title="Agregar Categoría">Add Inventory</a>
                        </div>
                    </div>
                    <div>
                        <p>Usuario ID: {{ user_info.id }}</p>
                    </div>
                    <table class="table table-striped table-bordered table-hover flip-content">
                        <thead class="flip-header">
                            <tr>
                                <th class="center" style="width:5%;">ID</th>
                                <th class="center" style="width:15%;">Icono</th>
                                <th class="center" style="width:20%;">Nombre</th>
                                <th class="center" style="width:20%;">Categoría</th>
                                <th class="center" style="width:10%;">Cantidad Disponible</th>
                                <th class="center" style="width:10%;">Proveedor</th>
                                <th class="center" style="width:20%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="resCats" class="short">
                            {% if inventory_data %}
                                {% for item in inventory_data %}
                                <tr>
                                    <td>{{ item.asset_id }}</td>
                                    <td><img src="static/images/logo.png" style="display: block; margin-left: auto; margin-right:auto; border-radius: 50%; width: 100px;" alt=""></td>
                                    <td>{{ item.asset_name }}</td>
                                    <td>{{ item.asset_description }}</td>
                                    <td>{{ item.quantity_in_stock }} {{ item.unit_of_measure }}</td>
                                    <td>{{ item.branch_name }}</td>
                                    <td>add quantity, modify item, delete item</td>
                                </tr>
                                {% endfor %}
                            {% endif %}                		
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}