<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RestauranTech</h1>
    <h2>Modify Item</h2>
    <form action="" method="POST">
        {{ form.total_branch_ids }}
        {{ form.total_asset_ids }}
        
        {% if can_modify %}
        {{ form.quantity_in_stock }}
        {{ form.unit_of_measure }}
        {{ form.average_price }}
        {{ form.shelf_life }}
        {{ form.shelf_life_unit }}
        {% endif %}

        {{ form.submit }}
    </form>
</body>
</html>