{% extends 'admin.html' %}
{% block content %}
<article class="content dashboard-page">
    <section class="section">
       <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block" style="width:100%">
                            <h3 class="title">Add to Inventory</span></h3>
                            <a data-href="/administrador/?op=nCat" class="pull-right btn btn-primary btn-sm rounded" id="nCat" data-title="Agregar Categoría">Nueva categoría</a>
                        </div>
                    </div>
                    <div>
                        <p>Usuario ID: {{ user_info.id }}</p>
                    </div>
                    <form action="" method="POST">
                        {{ form.branch_id }}
                        {{ form.asset_id }}
                        {{ form.quantity_in_stock }}
                        {{ form.unit_of_measure }}
                        {{ form.average_price }}
                        {{ form.shelf_life }}
                        {{ form.shelf_life_unit }}
                        {{ form.submit }}
                    </form>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}